@import "tailwindcss";

:root{

    --primary:#C9A227;
    --primary-hover:#B08B1F;

    --dark:#1F1F1F;

    --background:#F3F4F6;

    --card:#FFFFFF;

    --text:#333333;

    --muted:#6B7280;

    --border:#CBD5E1;
}